body {
    background-color: #232e3f;
}


#top_bar{
    color: black;
    background-color: #CF9421;
    text-align:center;
    font-size: 2rem;
    
    border-color: #172030;
    
    border-radius: 35%;

    padding-top: 3px;
    padding-bottom: 3px;

    width:25%;
    
    margin:auto;
    margin-top: 20px;
}

.first_grid{
    display: grid;  
    grid-template-columns: 1fr 3fr;
    column-gap: 15px;

    padding-left: 10px;
    padding-right: 10px;

}

.second_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;

    padding-left: 15px;
    padding-right: 15px;
}

.second_grid > div {
    padding-bottom: 15px;

    background-color: #731c07;
}

#intro{
    background-color:#D87818;

    /*
    position: absolute;
    left: 10px;
    width: 25%;

    */

    border-style:solid;
    border-width: 3px;
    border-color: #172030;

    /*
    padding-left: 15px;
    padding-right: 15px;
    */
}

#intro_title{
    text-align: center;
    color: #DAD5C6;
}

#project_heading{
    font-size: 3rem;
    text-align: center;
    color: #DAD5C6;

}

#projects{
    border-style:solid;
    border-color: #172030;
    border-width: 3px;

    background-color: #AD330A;

    /*

    position: absolute;
    right: 10px;
    width: 65%;
    padding-right: 15px;
    padding-left: 15px;

    padding-bottom: 100px;
    
    */
    padding-bottom: 15px;
}



#souper_hero{
    


}

.proj_desc{
    color: white;
    list-style-type:square;
    margin-left: 80px;
    padding-top: 10px;


    
}

.project_titles{
    text-align: center;
    color: #F9DD80;
}

#mind_sync{
    
}

#stationary{
   
}


.proj_vid{
    margin: auto;

    width: 80%;
    aspect-ratio: 16 / 9;
    height: auto;
    display: block;
    border: black solid 3px;
}