@font-face {
    font-family: lucidaConsole;
    src: url(./Fonts/lucidaconsole.ttf);
}


/* Base styles */
body {
    
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #222;
}

/* Top header bar */
.top-bar {
    
    width: 97.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#title {
    font-size: 28px;
    font-weight: bold;
}

#right-of-title {
    display: flex;
    gap: 40px;
} 

/* About me */
#about-me-section {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
    
}

#about-me-title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 5px;

    color: rgb(233, 188, 52);
    text-shadow: 5px 5px 0 black;
                
               

    
    
    
}

#about-me-desc {
    font-size: 30px;
    line-height: 1.4;
    font-family: lucidaConsole;
    padding-left: 15px;
    padding-right: 15px;

}

/* Table of contents */
#table-of-contents {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 15px;
}

#table-of-contents a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

#table-of-contents a:hover {
    text-decoration: underline;
}



/* Section titles */
.body-title {
    text-align: center;
    font-size: 28px;
    margin: 10px 0;
}

/* Box styles */
.body-box {
    background-color: white;
    width: 80%;
    /* height: 300px; */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    padding: 15px;
    /*
    overflow-y: auto; */
}

/* Game section */
.game-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.game-trailer {
    width: 100%;
    /* height: 180px; */
    background-color: #ddd;
    border-radius: 8px;
    margin-bottom: 8px;
    aspect-ratio: 16 / 9;

}

.game-desc {
    font-size: 14px;
}

/* Other Projects */
.op-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}

.op-desc {
    font-size: 14px;
}

/* Footer */
footer {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
}

#contact-title {
    margin-bottom: 15px;
    font-size: 26px;
}

footer div {
    margin: 6px 0;
    font-size: 16px;
}

.footer-link{
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-link:hover{
    text-decoration:underline;
}

#face{
    border-radius: 8px;
    max-width: 300px;
    min-width: 300px;
    height: auto;
    
}

#face-container{
    aspect-ratio: 16/9;
}

#face-desc-container{
    display:flex;
}

@media screen and (max-width: 600px) {
  #face-desc-container {
    flex-direction:column;
  }

  .top-bar{
    width: 92%;
  }
}
