@font-face {
    font-family: lucidaConsole;
    src: url(./Fonts/lucidaconsole.ttf);
}

@font-face {
    font-family: caviarDreams;
    src: url(./Fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: chineseRocks;
    src: url(./Fonts/chinese_rocks_rg.otf);
}

@font-face {
    font-family: cocoGoose;
    src: url(./Fonts/Cocogoose-Pro-Regular-trial.ttf);
}


/* Base styles */
body {
    
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #222;
}

/* Top header bar */
.top-bar {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1e1e1e;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    height: 150px;
}

#title {
    font-size: 45px;
    font-weight: bold;
    font-family: cocoGoose;
    
    margin-left: 20px;

    
}

/* Table of contents */
#table-of-contents {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-right: 20px;
    
}

#table-of-contents a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

#table-of-contents a:hover {
    text-decoration: underline;
}

.nav-text{
    font-family: cocoGoose;
}



/* About me */

#about-me-container{
    display:flex;
    justify-content: center;
    
}
#about-me-section {
    max-width: 80%;
    text-align: center;
    

    
}

#about-me-title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 15px;

    color: rgb(233, 188, 52);
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.9);
                
               

    
    
    
}

#about-me-desc {
    font-size: 30px;
    line-height: 1.4;
    font-family: lucidaConsole;
    padding-left: 15px;
    padding-right: 15px;

}

#mid-section-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#games-section{
}

#game-container{
    display:flex;
    justify-content: center;
}



/* Section titles */
.body-title {
    text-align: center;
    font-size: 60px;
    
    text-shadow: 2px 2px 0 rgb(0, 0, 0, 0.9),
                  3px 3px 0 rgb(0,0,0,0.9);
    color: rgb(235, 86, 116);

    font-family: BigCalson;
}

/* Box styles */
.body-box {


    background-color: white;
    width: 80%;
    max-width: 80%;
    /* height: 300px; */
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    padding: 15px;
    /*
    overflow-y: auto; */
}

/* Game section */
.game-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 8px;

    font-family: skia;
    
}

.game-trailer {
    width: 100%;
    /* height: 180px; */
    background-color: #ddd;
    border-radius: 8px;
    margin-bottom: 8px;
    aspect-ratio: 16 / 9;

}

.game-desc {
    font-size: 30px;
    font-family: caviarDreams;
}

/* Other Projects */
.op-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}

.op-desc {
    font-size: 14px;
}

.learn-more-button{
    font-family: chineseRocks;
    font-size: 25px;
    display:flex;
    flex-direction:row-reverse;
}

/* Footer */
footer {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
}

#contact-title {
    margin-bottom: 15px;
    font-size: 26px;
}



.footer-link{
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-link:hover{
    text-decoration:underline;
}

#face{
    border-radius: 8px;
    max-width: 300px;
    
    height: auto;
    border: solid 2px black;
    object-fit: cover;
    aspect-ratio: 9/16;
}

#face-container{
    
    
    
}

#face-desc-container{
    display:flex;

    background-color: rgb(215, 128, 128);
    align-items: center;
}

@media screen and (max-width: 950px){
    #face-desc-container{
        flex-direction: column;
        max-width: 80%;
        align-items: center;
        
    }

    #about-me-section{
        max-width: 90%;
        align-items: center;
    }

    #about-me-container{
        align-items: center;

        
        
    }
}

@media screen and (max-width: 700px) {
  #face-desc-container {
    flex-direction:column;
    max-width: 80%;
    align-items: center;
    
  }

  #face-container{
    text-align: center;
    align-items: center;
    
  }

  #face{
    text-align: center;
    max-width: 100%;
  }

  #about-me-container{
        align-items: center;
        align-content: center;
        
    }

  

  #about-me-desc{
    font-size: 20px;
  }

  .game-desc{
    font-size: 25px;
  }

  .learn-more-button{
    font-size: 20px;
  }

  image{
    max-width: 100%;
  }

  
}
