/* Base styles */
body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #f7f7f7;
color: #222;
}



/* Top header bar */
.top-bar {
padding-right: 40px;
width: 97.5%;
display: flex;
justify-content: space-between;
align-items: flex-start;
padding: 20px;
background-color: #1e1e1e;
color: white;
box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}


#title {
font-size: 28px;
font-weight: bold;
}


/* Content box */
.body-box {
background-color: white;
width: 80%;
margin: 30px auto;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.15);
padding: 20px;
}


.section-title {
font-size: 30px;
font-weight: bold;
margin-bottom: 10px;
text-align: center;
}


p {
font-size: 15px;
line-height: 1.5;
}


/* Placeholder media box */
.media-box {
width: 100%;
background-color: #ddd;
aspect-ratio: 16/9;
border-radius: 10px;
margin: 15px 0;
}


/* Back link */
.back-link {
display: block;
text-align: center;
margin: 30px 0;
font-size: 16px;
text-decoration: none;
color: #1e1e1e;
}

.play-game {
display: block;
text-align: center;
margin: 30px 0;
font-size: 25px;
color: #1e1e1e;

}


.back-link:hover {
text-decoration: underline;
}


/* Footer */
footer {
width: 100%;
background-color: #1e1e1e;
color: white;
padding: 30px 0;
margin-top: 40px;
text-align: center;
}


#contact-title {
margin-bottom: 15px;
font-size: 26px;
}


footer div {
margin: 6px 0;
font-size: 16px;
}

.footer-link{
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-link:hover{
    text-decoration:underline;
}